	<div id="logon">
		<label style="width:150px">Ton prénom</label><input type="text" ng-model="user.first" placeholder="Jean"> <br />
		<label style="width:150px">Ton nom</label><input type="text" ng-model="user.last" placeholder="Dupont"> <br />
		<label style="width:150px">Ton adresse</label><input type="text" ng-model="user.location" placeholder="96 bd Bessières 75019 Paris">  <br />
		<label style="width:150px">Ta date de naissance (au format JJ-MM-AAAA)</label><input type="text" ng-model="user.birth" placeholder="25-12-1970">  <br />
		<label style="width:150px">Ton numéro de client</label><input type="text" ng-model="user.noClient" placeholder="0123456789"> <br />
		<label style="width:150px">Ton mot de passe</label><input type="password" ng-model="user.mdp" placeholder="•••••••"> <br />
		<button ng-click="newUser(user)" class="btn btn-default">Inscription</button>
	</div>