<div>{{message}}</div>

<h2>Envie de gérer toi-même ton argent ?</h2>
  <h3>Maintenant tu peux !</h3>
  <p>
    Le nouveau service de notre banque a été pensé pour toi. Tu vas pouvoir gérer facilement tes dépenses, consulter ton
    compte et surtout demander de l'argent de poche à qui tu voudras. Si la personne accepte, l'argent sera définitivement
    versé sur ton compte. Pratique, non ?
  </p>
<h2>Vous êtes un parent ?</h2>
  <h3>Notre banque s'ouvre encore plus aux plus jeunes !</h3>
    <p>
      Avec la nouvelle plateforme de votre banque, votre enfant va pouvoir apprendre à gérer son argent, mais aussi vous
      demander un coup de pouce en cas de besoin. Notre service, pensé pour développer l'autonomie, vous permet néanmoins
      un contrôle précis.
    </p>
