<h1>Coucou {{stats.user.identity.firstName}}</h1>

<h3>{{token}}</h3>

<div id="logged">
	<br><br>
	<div>
		<h2>STATS</h2>
		 {{credit.nb}} credits  vs {{debit.nb}} debits ({{credit.amount}} vs {{debit.amount}})
	</div>
	age: {{stats.user.age}}
	<br>money: {{stats.user.money.current}}
	<br>contacts:
	<ul>
		<li ng-repeat="contact in stats.user.contacts">
		{{contact.name}} => {{ contact.mail }} <br>
		<a ng-click="moneyAsking(contact)" class="btn btn-info">Ask money</a>
		</li>
	</ul>
	<div id="asking" style="display:none;">
		<p>Demander un peu de thunes à {{askTo.name}}</p>
		<input	type="text" placeholder="montant" ng-model="ask.amount">
		<input	type="text" placeholder="date (AAAA-MM-JJ)" ng-model="ask.date">
		<textarea ng-model="ask.reason">"explaaaaaiiiinnnn(référence à doctor who sisi tkt)</textarea>
		<button ng-click="askMoney(ask)">Ask!</button>

	</div>
	<br>operations:
	<ul style="max-height:500px; overflow:auto;">
		<li ng-repeat="ope in stats.ops">
			{{ope.date.split('T')[0].split('-').reverse().join('/')}} : 
			<span ng-if="ope.InOut == 'credit'">+</span>
			<span ng-if="ope.InOut != 'credit'" >-</span>
			{{ope.amount}} € via {{ ope.type }} . Status : <span ng-show="ope.sucess">Done.</span><span ng-show="!ope.sucess">Failed.</span> <button class="btn btn-danger btn-xs " ng-click="deleteOpe(ope)" title="supress ope">x</button>
		</li>
	</ul>
	
	<br>
	New ope:
	Credit (+)<input type="checkbox" ng-model="ope.InOut" ng-true-value="credit"> <br/>
  	Debit (-) <input type="checkbox" ng-model="ope.InOut" ng-true-value="debit"> <br/>
  	<h4>Type :</h4>
  	CB <input type="checkbox" ng-model="ope.type" ng-true-value="cb"> <br/>
  	Cheque <input type="checkbox" ng-model="ope.type" ng-true-value="cheque"> <br/>
  	Mobile <input type="checkbox" ng-model="ope.type" ng-true-value="mobile"> <br/>
  	Internet <input type="checkbox" ng-model="ope.type" ng-true-value="internet"> <br/>
  	Desk <input type="checkbox" ng-model="ope.type" ng-true-value="desk"> <br/>
	<input ng-model="ope.amount" type="text" placeholder="amount">
	<button ng-click="newOpe(ope)">new ope</button>
	<br>
	New contact:
	<input ng-model="contact.name" type="text" placeholder="name">
	<input ng-model="contact.mail" type="text" placeholder="mail">
	<button ng-click="newContact(contact)">new contact</button>
	<div class="alert alert-info" ng-show="notif !== '' " style="position: fixed; top: 10vh;">
		{{notif}}
	</div>

</div>