<h1>Coucou {{stats.user.identity.firstName}}</h1>

<h3>{{token}}</h3>

<div id="logged">
	<br><br>
	<div>
		<h2>STATS</h2>
		 {{credit.nb}} credits  vs {{debit.nb}} debits ({{credit.amount}} vs {{debit.amount}})
	</div>
	age: {{stats.user.age}}
	<br>money: {{stats.user.money.current}}
	<br>contacts:
	<ul>
		<li ng-repeat="contact in stats.user.contacts">
		{{contact.name}} => {{ contact.mail }} <br>
		<a ng-click="moneyAsking(contact)">Ask money</a>
		</li>
	</ul>
	<div id="asking" style="display:none;">
		<p>Demander un peu de thunes à {{askTo.name}}</p>
		<input	type="text" placeholder="montant" ng-model="ask.amount">
		<input	type="text" placeholder="date (AAAA-MM-JJ)" ng-model="ask.date">
		<textarea ng-model="ask.reason">"explaaaaaiiiinnnn(référence à doctor who sisi tkt)</textarea>
		<button ng-click="askMoney(ask)">Ask!</button>

	</div>
	<br>operations:
	<ul style="max-height:500px; overflow:auto;">
		<li ng-repeat="ope in stats.ops">
			{{ope.date}} :: {{ ope.InOut }} : {{ope.amount}} via {{ ope.type }} . Satus : <span ng-show="ope.sucess">Done.</span><span ng-show="!ope.sucess">Failed.</span> <button ng-click="deleteOpe(ope)">del</button>
		</li>
	</ul>
	
	<br>
	New ope:
	<input ng-model="ope.amount" type="text" placeholder="amount">
	<input ng-model="ope.type" type="text" placeholder="'cb', 'cheque', 'mobile', 'internet', 'desk'">
	<input ng-model="ope.InOut" type="text" placeholder="'credit', 'debit'">
	<button ng-click="newOpe(ope)">new ope</button>
	<br>
	New contact:
	<input ng-model="contact.name" type="text" placeholder="name">
	<input ng-model="contact.mail" type="text" placeholder="mail">
	<button ng-click="newContact(contact)">new contact</button>
	<div class="alert alert-info" ng-show="notif.length > 0" style="position: fixed; top: 10vh;">
	{{notif}}
	</div>

</div>