body {
    color: white;
}

@media screen and (min-width: 992px) {
    .mycolmd8 {
        width: 12.5%;
    }
}
/* Modif jules */
input{
    color : black;
}

/*modif jules*/
button{
    color: black !important;
}

#header-mid {
    text-align:center;
}

#header-mid a {
    color: white;
    font-weight: bold;
    font-family: arial;
    font-size:12px;
    line-height: 28px;
}

.red {
    background-color: darkred;
}

.blue {
    background-color: darkblue;
}

.yellow {
    background-color: darkgoldenrod;
}

.green {
    background-color: darkgreen;
}

.purple {
    background-color: darkmagenta;
}