#wrapper{
	/*margin-left: -64%;*/
	/*margin-top: -32%;*/
	left: 0;
	/*width: 100vw;*/
	/*min-height: 100vh;*/
	/*z-index: 9999999;*/
	background: white;
	color: black;
	text-align: center;
	/*padding-left: 80px;*/
	/*padding-bottom: 150px;*/
}

.endpoint{
	text-align: left;
	margin-left: 2vw;
}

.rest{
	margin-left: 50px;
	width: auto;
	overflow: hidden;
}

.rest h4{
	cursor: pointer;
}

img{
	display: none !important;
}

code{
	font-size: 115% !important;
	color: #0D7021 !important;
}